.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.helpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.imageProps {
    height: 85vh;
    border-radius: 20px;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    gap: 20px;
    padding: 0 20px;
}

.descriptionContainer h2 {
    width: 450px;
}

.descriptionText {
    width: 450px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.button {
    width: 160px;
    height: 40px;
    border: 1px solid #121212;
    border-radius: 6px;
    transition: 300ms;
}

.watchButton {
    background: #121212;
    color: white;
}

.watchButton:hover {
    background-color: #ec3434;
    border: none;
    scale: 1.04;
}

.trailerButton {
    background: none;
    border: 1px solid #ec3434;
    color: #ec3434;
}

.trailerButton:hover {
    background-color: #ec3434;
    color: white;
    scale: 1.04;
}

