@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.sliderContainer {
    position: relative;
    margin-left: 12%;
    overflow: hidden;
    width: 88%;
    height: 90vh;
    border-radius: 10px;
}

.sliderWrapper {
    display: flex;
}

.slide {
    flex: 0 0 100%;
    margin-right: 5px;
}

.slide img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 40%;
    height: 90vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 57%, rgba(2, 0, 36, 0) 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.overlayText {
    width: 800px;
    position: absolute;
    z-index: 3;
    left: 7vh;
    top: 16vh;
    color: white;
    font-size: 120px;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.overlayText2 {
    width: 800px;
    position: absolute;
    z-index: 3;
    left: 12vh;
    top: 26vh;
    color: white;
    font-size: 120px;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.overlayText3 {
    width: 500px;
    position: absolute;
    z-index: 2;
    left: 7vh;
    top: 56vh;
    color: #d5d5d5;
    font-size: 16px;
}

.overlayButtons {
    position: absolute;
    display: flex;
    top: 76vh;
    left: 7vh;
    z-index: 2;
    gap: 15px;
}

.btn {
    width: 150px;
    height: 40px;
    border: 1px solid #ec3434;
    border-radius: 6px;
    background: none;
    color: white;
    transition: 300ms;
}

.btn:hover {
    background: #ec3434;
    scale: 1.05;
}

.textTop {
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ec3434;
}
