@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
}

.mainText {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.secondText {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 20px;
    color: #cccccc;
    text-align: center;
}

.spanText {
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ec3434;
    font-size: 70px;
    text-transform: none;
}

.moviesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.moviesList > div {
    border-radius: 10px;
    overflow: hidden;
    transition: 300ms;
}

.moviesList > div:hover {
    transform: translateY(-5px);
}

